@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  padding: 15px;
}

.left-links,
.right-links {
  display: flex;
  gap: 20px;
}

.right-links {
  margin-left: auto;
}

.header a,
.footer a {
  color: #555
}

.header {
  margin-bottom: auto;
}

.footer {
  background-color: #F0F0F0;
  margin-top: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.buttons button {
  font-weight: bold;
  padding: 10px 20px;
}