body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title,
.content,
.button-container,
button {
  font-family: sans-serif;
  padding: 8px;
  margin-block-start: 0;
}

.title,
.content {
  margin-block-end: 8px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  background: #e3f4ff;
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #e3f4ff;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
}

button {
  display: block;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  background: white;
  border: 1px solid #eee;
}